<!-- check-score.component.html -->
<mat-card class="p-4 shadow rounded-3">
    <ng-container *ngIf="!isLoading">
    <mat-progress-bar mode="determinate" value="50"></mat-progress-bar>
    <p class="text-center small mt-2">Step 2 of 4</p>
  </ng-container>

  <mat-card-title class="h5 mb-4 fw-semibold text-center">
    Customer Credit Score
  </mat-card-title>

    <div class="p-3 border rounded bg-light mb-3" *ngIf="loan">
    <p class="mb-1"><strong>Customer:</strong> {{ loan.customer?.fullName }}</p>
    <p class="mb-1"><strong>Email:</strong> {{ loan.customer?.email }}</p>
    <p class="mb-1"><strong>Loan Amount:</strong> {{ loan.loanAmount| currency:'TND' }}</p>
    <p class="mb-0"><strong>Loan Type:</strong> {{ loan.creditType }}</p>
    <p class="mb-0"><strong>Account Number:</strong> {{ loan.accountNumber }}</p>
  </div>

  <!-- BANKER VIEW -->
  <div *ngIf="role === 'BANQUIER'" class="text-center">
    <button mat-raised-button color="primary" class="mb-4"
            (click)="calculateScore()"
            [disabled]="isLoading || scoreCalculated">
      {{ scoreCalculated ? 'Score Calculated' : 'Calculate Score' }}
    </button>
  </div>

  <!-- LOADING -->
  <div *ngIf="isLoading" class="d-flex justify-content-center align-items-center p-4">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  </div>

  <!-- COMMON SCORE RESULT -->
<!-- COMMON SCORE RESULT -->
<ng-container *ngIf="!isLoading && scoreCalculated">
  <div class="text-center">
    <div class="d-flex justify-content-center mb-3 position-relative">
      <mat-progress-spinner
        [value]="score"
        [color]="riskColor"
        diameter="120"
        strokeWidth="10">
      </mat-progress-spinner>

      <!-- score inside the circle -->
      <div class="position-absolute d-flex align-items-center justify-content-center w-100 h-100">
        <span class="fw-bold" style="font-size: 28px; color: #000;">
          {{ score }}
        </span>
      </div>
    </div>

    <p [style.color]="riskColor" class="fw-medium mb-0">{{ riskLabel }}</p>
  </div>
</ng-container>

  <!-- CLIENT WAITING -->
  <div *ngIf="role === 'CLIENT' && !scoreCalculated" class="text-center mt-4">
    <div class="alert alert-info">
      Your credit score is currently being processed by the bank.<br>
      Please check back later.
    </div>
  </div>
  <div *ngIf="role=='BANQUIER'" class="mt-4" style="text-align: end;">
     <button type="button" mat-raised-button color="warn" (click)="rejectLoan()" style="margin-right: 8px;">
    Rejeter
  </button>
                <button  *ngIf="role =='BANQUIER'" type="button"  mat-raised-button color="primary" (click)="nextStep()">
          Accepter
        </button>

</div>
</mat-card>